.form
{
 margin-top: 50px;

}
.msg
{
    font-weight: 600;
     font-size:18px;
     margin-top: 30px;
     color:white;
     @media (max-width:767px) {
        font-size: 15px;
      }
}
.input 
{
    border: 1px solid #50d1c0;
    border-radius:  100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    @media (max-width:767px) {
        font-size:13px;
        width: 120px;
        height: 15px;
        padding: 9px 32px;
      }
      @media (max-width:510px) {
     margin-bottom: 15px;
     font-size: 13px;
      }
    }

.input:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.btn
{
   
    border-radius:  100px; 
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    @media (max-width:351px) {
       height: 45px;
         }
    
    @media (max-width:767px) {
        font-size:14px;
        width: 130px;
        height: 40px;
        padding: 7px 5px;
        margin-left: 5px;
        margin-bottom: 15px;
      }
      
}
.btn:hover{
    color: #fff;
    background-color:#1d8652;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
/*
.input-dropdown {
  appearance: none;
  cursor: pointer;
  border: 1px solid #50d1c0;
  border-radius:  100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  @media (max-width:767px) {
    font-size:14px;
    width: 160px;
    height: 37px;
    padding: 9px 10px;
  }
  @media (max-width:351px) {
 margin-bottom: 15px;
 font-size: 13px;
  }

  @media (max-width:826px) {
    margin-bottom: 15px;
  }
}

.input-dropdown option {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
}


.input-dropdown option:checked {
  background-color: #1d8652;
  color: white;
}

.input-dropdown::-ms-expand {
  display: none;
}

.input-dropdown::before {
  content: '\25BC'; 
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}*/